* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #CCF5BA;
}

.container {
width: 360px;
height: 800px;
top: -360px;
left: 220px;
gap: 0px;
opacity: 0px;

    
}

header {
    width: 360px;
    height: 80px;
    padding: 0px 20px 0px 20px;
    gap: 0px;
    opacity: 0px;
    background: #417644;
    display: inline-block;
}
.con{
    width: 320px;
    height: 80px;
    left: 20px;
    padding: 24px 41px 20px 0px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
}
.head-txt{
    width: 238px;
    height: 36px;
    top: 24px;
    left: 41px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    line-height: 36.31px;
    text-align: center;
    color: #EAF98C;
}
.menu{
    background-color:#7A5D32;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    position: fixed ;
    z-index: 15;
    margin-top: 0px;
    margin-left: 100%;
}
.menu-item{
    font-size: 24px;
    margin-bottom: 20px;
}
.logo {
    width: 32px;
    height: 32px;
    top: 24px;
    padding: 0px 4px 0px 4px;
    gap: 0px;
    opacity: 0px;
    color: black;
}

.back-arrow{
    padding-left: 20px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}
/* New Item Section */
.new-item {
    margin-top: 20px;
    background-color: #b0e57c;
    padding: 15px;
    border-radius: 8px;
}

.new-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.new-item img {
    width: 100%;
    border-radius: 8px;
}

/* Categories Section */
.title{
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36.31px;
    text-align: center;

}

.role{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
    text-align: center;
}

.name{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: center;

}

.categories {
    margin-top: 20px;
}

.contact-item{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.contact-info{
    width: 55%;
}

.categories h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.category {
    text-align: center;
    background-color: #466e3e;
    color: #f4f4a8;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

.category:hover {
    background-color: #2c4827;
}

.category img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.category p {
    font-size: 14px;
}
